/**
 * Article: https://css-tricks.com/how-to-make-an-area-chart-with-css/
 * More info: https://ChartsCSS.org/
 */
body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 1vw;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
footer {
  font-size: small;
  padding-top: 1vw;
}
.form {
  margin: 2vw 0;
}
.search {
  display: flex;
}

.search i {
  padding: 10px;
  background: #385170;
  color: white;
  min-width: 50px;
  text-align: center;
  transition: all 150ms ease-in-out;
}

.search i:hover {
  cursor: pointer;
}
.current-weather {
  position: relative;
  padding: 2vw;
  border: 1px solid#DEE2E6;
  border-radius: 20px;
  background: url(../imgs/cloudy.jpg) no-repeat center center fixed;
  color: #385170;
}
.current-weather::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.5);
}
.location,
.temp-avg,
.other,
.temp {
  position: relative;
  color: #385170;
}

.location i {
  font-size: 2vw;
}
.city-name {
  font-size: 2vw;
  font-weight: 700;
  text-transform: capitalize;
}

.date-time {
  font-size: 1.5vw;
}
.temp-main {
  transition: all 150ms ease-in-out;
  text-align: center;
}
.temp-main :hover {
  cursor: pointer;
}

.main span {
  font-size: 7vw;
  padding-top: 4vw;
}
p.weather-mood {
  font-size: 2vw;
  text-transform: capitalize;
}
.other {
  padding-top: 2vw;
  font-size: 1vw;
}
.temp-max-min {
  font-size: 1vw;
}
.temp {
  margin-right: 2vw;
  padding: 1vw;
  border: 1px solid#DEE2E6;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
}
.temp-title {
  padding-left: 2vw;
  font-size: 1.4vw;
  font-weight: 600;
}
.area-chart {
  /* Reset */
  margin: 0;
  padding-bottom: 0vw;
  border: 0;

  /* Dimensions */
  width: 100%;
  max-width: var(--chart-width, 30vw);
  height: var(--chart-height, 15vw);

  /* Layout */
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: row;
}
ul.area-chart,
ol.area-chart {
  list-style: none;
}
.area-chart > * {
  /* Even size items */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  /* Color */
  background: var(--color, rgba(55, 80, 111, 0.75));
  clip-path: polygon(
    0% calc(100% * (1 - var(--start))),
    100% calc(100% * (1 - var(--end))),
    100% 100%,
    0% 100%
  );
}
ul.time-values {
  list-style: none;
}
.time-values li {
  display: inline;
  padding: 2vw;
}

.weather-forecast {
  margin-top: 2vw;
  padding: 2vw;
  border: 1px solid#DEE2E6;
  border-radius: 20px;
  background: #ececec;
}
.weather-forecast p {
  font-size: 2vw;
}
.weather-forecast i {
  font-size: 4vw;
  color: #385170;
}
.weather-forecast-temperature {
  padding-top: 1vw;
  text-align: center;
  font-size: 1.3vw;
}
.line-1 {
  height: 0.2vw;
  width: 5.5vw;
  background-color: #000;
  float: left;
  margin: 0.8vw 0.1vw;
  padding: 0px;
}
.weather-forecast-temperature-min,
.weather-forecast-temperature-max {
  margin: 0 0.2vw;
  padding: 0px;
}

.weather-forecast-temperature-max {
  font-weight: 700;
}
