body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 3vw;
  font-family: "Poppins", sans-serif;
}
footer {
  font-size: small;
  padding-top: 1vw;
  color: #000;
}

.transparent-input {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
}

.search {
  display: flex;
}

.search i {
  padding: 10px;
  background: #385170;
  color: white;
  min-width: 50px;
  text-align: center;
  transition: all 150ms ease-in-out;
  border-radius: 0 10px 10px 0;
}

.search i:hover {
  cursor: pointer;
}

.form-control {
  border-radius: 10px 0 0 10px;
}

.current-weather {
  position: relative;
  padding: 2vw;
  border-radius: 20px;
  margin-top: 2vw;
}

.location,
.temp-avg,
.other,
.hourly-forecast,
.weather-forecast-temperature,
.weather-forecast-day,
.weather-forecast-i {
  position: relative;
  color: #163172;
}

.location i {
  font-size: 2vw;
}
.city-name {
  font-size: 2vw;
  font-weight: 700;
  text-transform: capitalize;
}

.date-time {
  font-size: 1.5vw;
}
.temp-main {
  transition: all 150ms ease-in-out;
  text-align: center;
}

.main span {
  font-size: 7vw;
  padding-top: 4vw;
}
p.weather-mood {
  font-size: 2vw;
  text-transform: capitalize;
}
.other {
  padding-top: 2vw;
  font-size: 1vw;
}
.temp-max-min {
  font-size: 1vw;
}
.hourly-forecast {
  margin-right: 2vw;
  padding: 1vw;
}
.hourly-forecast-title {
  padding-left: 2vw;
  margin-bottom: 2vw;
  font-size: 1.4vw;
  font-weight: 600;
  color: #163172;
}

.weather-forecast {
  position: relative;
  margin-top: 2vw;
  padding: 2vw;
  border-radius: 20px;
  color: #163172;

  /* background: #ecececa8; */
}
.weather-forecast::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
.weather-forecast p {
  font-size: 2vw;
}
.weather-forecast i {
  font-size: 4vw;
}
.weather-forecast-temperature {
  padding-top: 1vw;
  text-align: center;
  font-size: 1.3vw;
}

.weather-forecast-temperature-min,
.weather-forecast-temperature-max {
  margin: 0 0.2vw;
  padding: 0px;
}

.weather-forecast-temperature-max {
  font-weight: 700;
}
.github-link {
  color: #163172;
}
